<div class="row">
  <div class="col-md-6">
    <ol class="list-group">
      <li *ngFor="let todo of todos" class="list-group-item">
        {{todo.name}} : {{todo.content}}
        <i (click)="deleteTodo(todo)" class="fa fa-trash-o" aria-hidden="true" ></i>
      </li>
    </ol>
  </div>
  <div class="col-md-6">
    Name :<input [(ngModel)]="todo.name" type="text" class="form-control">
    Content :<input [(ngModel)]="todo.content" type="text" class="form-control">
    <button
      class="btn btn-primary"
      (click)="addTodo()"
      [disabled]="!todo.name || !todo.content"
    >
      Add Todo
    </button>
  </div>
  <app-ngclass></app-ngclass>
</div>
